.containerPrincipal {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding:  40px;
  background-color: blanchedalmond;
}

.containerSecundario{

  text-align: center;
}
