.containerPrincipal {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(250, 124, 183, 0.623);
  padding:  50px;
  background-color: rgb(245, 244, 243);
}

.containerSecundario{

  text-align: center;
  margin-top: -10px;

}

.title-inicio{
  font-size:larger;
  color:rgb(151, 1, 63);
}
.enlaceRegister{
  font-size: x-small;
}
.checkbox{
  font-size: small;
}
.navbar-light{
  background-color:rgb(151, 1, 63);
  text-decoration-color: aliceblue;
}
.btn-outline-danger{

  background-color:rgb(245, 244, 243);
}
.btn-primary{
  background-color:rgb(151, 1, 63);
  border-color: rgba(250, 124, 183, 0.623);
}
.btn-primary:hover {
  background: rgb(255, 0, 98);
  border-color: rgba(250, 124, 183, 0.623);
  color:white
}