.campoTipo{
    text-align: center; 
    width: 300px;
}   


.formC{
text-align: center;

}
.creado{
    height: 300px;
    width: 300px;

}
.row{
    text-align: center;
}

.textArea{
    text-align: center;
    height: 300px;
    width: 300px;

}
.col-md-3{
    text-align: center;
}
.navbar{
    width: 100%;
    color: aliceblue;
    background-color:rgb(2, 129, 146);
  text-decoration-color: aliceblue;
}

.navbar-light{
    background-color:rgb(2, 129, 146);
    text-decoration-color: aliceblue;
}
.navbar-expand-lg{
    background-color:rgb(2, 129, 146);
    text-decoration-color: aliceblue;

}
.btn-primary{
    background-color:rgb(2, 129, 146);
    border-color: rgba(124, 210, 250, 0.623);
    
}
  .btn-primary:hover {
    background: rgb(0, 174, 255);
    border-color: rgba(124, 210, 250, 0.623);
    color:white;
  }
  .btn-primary:active {
    background: rgb(2, 173, 185);
    border-color: rgba(124, 210, 250, 0.623);
    color:white;
    
    
  }
  .pull-left{
    margin-left: 10px;
    min-width: 200px;
    background-color:rgb(245, 244, 243);
    
  }
  .pull-right{
    margin-right: 10px;
    min-width: 200px;
  }
