.barraNav {
  transform: translate(0%, 0%);
  }
  .navbar-light{
    background: rgb(2, 129, 146);
  }
  .containerSecundario{
    text-align: center;
    margin-top: -10px;
  } 

  .enlaceRegister{
    font-size: x-small;
  }
  .checkbox{
    font-size: small;
  }
  .titulo-blog{
    background-color:rgb(2, 129, 146);
    text-decoration-color: aliceblue;
  }
  .btn-outline-info{
  
    background-color:rgb(245, 244, 243);
  }
  .btn-primary{
    background-color:rgb(2, 129, 146);
    border-color: rgba(124, 210, 250, 0.623);
  }
  .btn-primary:hover {
    background: rgb(0, 174, 255);
    border-color: rgba(124, 210, 250, 0.623);
    color:white
  }
  .btn-primary:active {
    background: rgb(2, 173, 185);
    border-color: rgba(124, 210, 250, 0.623);
    color:white
  }
  .txt-primary {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Table {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .app-bar-title {
    font-family: 'Arial', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    word-spacing: 6px;
  }
  
  .app-section {
    margin-top: 2rem;
  }
  
  .solicitud-selector {
    width: 30%;
    position: absolute;
    left: 40%;
   

  }
  
  .solicitud-selector-label {
    left: 20%;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 400;
    
  }
  
  .angry-joe {
    color: #999;  
  }
  
  .angry-joe:hover {
    color: crimson;
  }
  
  .ico-angry-joe {
    font-size: 5rem;
  }
  
  .center {
    text-align: center;
  }
  
  .top-margin {
    margin-top: 5rem;
  }
  
  .top-margin-small {
    margin-top: 2rem; 
  }