/*-- HEADER--*/
.navbar{
    margin-bottom: 0;
}

.jumbotron{
  background:  rgb(2, 129, 146); /*#428BCA*/
  color: black;
  padding: 10px 0;

}

.titulo-blog{
   font-size: 15px;

}

/*-- ESTILO DE BORDE--*/
.bordes{
  
  border: 1px solid rgba(124, 210, 250, 0.623);
  
}

/*-- BOTONES--*/


.button{
   background: #7f8c8d;
   color: #fff;
   display: inline-block;
   font-size: 1.25em;
   margin: 20px;
   padding: 10px 0px;
   text-align: center;
   width: 200px;       /*--Tamaño del boton--*/
   text-decoration: none;
   box-shadow: 0px 3px 0px #373c3c;
}



/* -- COLORES--*/
.button.white{
  background-color: white;
  color: #000000;
  box-shadow: 1px 1px 2px 2px #CD3F2E;
}

.button.red{
  background-color: #CD3F2E;
  color: white;
  box-shadow: 1px 1px 2px 2px #373c3c;
}

.button.blue{
  background-color: #0321AB;
  color: white;
  box-shadow: 1px 1px 2px 2px #373c3c;
}

/*--Formas--*/
.button.radius{
    border-radius: 5px;
  
}

.button:hover{
    box-shadow: 0px 0px 0px;
    padding-top: 7px;

}

#Encabezado{
  background-color:rgb(2, 129, 146);
}

#VentanaEmergente{
  background-color:  rgb(245, 244, 243);
}

#MotivoCuerpo{
  border: 3px solid rgb(2, 129, 146);
  border-radius: 10px;
  text-align: left;
}

#MotivoCabeza{
  text-align: center ;
  
}

.modal-footer{
  background-color: rgb(2, 173, 185)
}

#ListaDatos{
  text-align: right;
}

#cl{
  text-align: left;
}
.selector{

  width: 22%;
  position: absolute;
  left: 45%;
  top: 43px;
}
.ms-formlabel{
  display: block;
}
.solicitud-label {
  left: 30%;
  position: absolute;
  font-size: 1.2 rem;
  font-weight: 400;
  top: 40px;
}

.tableSol {
 
  left: 12%;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 5%;
}
.containerTabla {
  
  position: absolute;
  width:  90%;
  height: 2px;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
 
  padding:  200px;
  
}

.containerSelect {
  
  position: absolute;
  width:  90%;
  height: 20px;
  left: 53%;
  top: 300px;
  transform: translate(-50%, -50%);
  padding:  200px;
}


.table {
  position: absolute;
  background-color: rgba(238, 238, 238, 0.952);

  
  left: 0%;
  top: 0%;
 
}
.table-responsive {
  height: 100%;
}