#Encabezado{
    background-color:rgb(2, 129, 146);
}

#VentanaEmergente{
    background-color:  rgb(245, 244, 243);
}

#MotivoCuerpo{
    border: 3px solid rgb(2, 129, 146);
    border-radius: 10px;
}

#MotivoCabeza{
    text-align: center ;
    
}
.modal-footer{
    background-color: rgb(2, 173, 185)
}