.table-fixed{
    border-collapse: separate;
    border: 3px solid rgb(2, 129, 146);
    border-radius: 10px;
    text-align: left;
    width: 100%;
}

.table-fixed thead{
  width: 100%;
}

.table-fixed tbody {
  height: 200px;
  width: 100%;
}