.containerPrincipal {
  
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(124, 210, 250, 0.623);
    padding:  50px;
    margin-top: 25px;
    background-color: rgb(245, 244, 243);
    
  }
  
  .containerSecundario{
  
    text-align: center;
    margin-top: -10px;
  
  }
  
  .title-inicio{
    font-size:larger;
    color:rgb(2, 129, 146);;
  }
  .enlaceRegister{
    font-size: x-small;
  }
  .checkbox{
    font-size: small;
  }
  .navbar-light{
    background-color:rgb(2, 129, 146);
    text-decoration-color: aliceblue;
  }
  .btn-outline-info{
  
    background-color:rgb(245, 244, 243);
  }
  .btn-primary{
    background-color:rgb(2, 129, 146);
    border-color: rgba(124, 210, 250, 0.623);
    width: 200px;
  }
  .btn-primary:hover {
    background: rgb(0, 174, 255);
    border-color: rgba(124, 210, 250, 0.623);
    color:white
  }
  .btn-primary:active {
    background: rgb(2, 173, 185);
    border-color: rgba(124, 210, 250, 0.623);
    color:white
  }
  #avisoValido{
    display: none;
  }
  #avisoVacio{
    display: none;
  }
  #avisoNo{
    display: none;
  }
  #avisoPendiente{
    display: none;
  }
  #avisoReachazado{
    display: none;
  }
  #avisoDeshabilitado{
    display: none;
  }
  @media(max-width:360px){
    .containerPrincipal {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid rgba(124, 210, 250, 0.623);
      padding:  20px;
      margin-left: 0;
      margin-right: 0;
      background-color: rgb(245, 244, 243);
    }
    
    .containerSecundario{
    
      text-align: center;
      /*margin-top: -10px;*/
    }
    .logo{
      padding: 50px 50px;
    }
  }