.containerPrincipal {
  
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(124, 210, 250, 0.623);
  padding:  50px;
  margin-top: 25px;
  background-color: rgb(245, 244, 243);
  
}
.registerForm{
  text-align: center;
  
}

.contenedor{

  text-align: left;
  margin-top: 1px;
  margin-right: 500px;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(124, 210, 250, 0.623);
  padding:  50px;
  margin-top: 300px;
  background-color: rgb(245, 244, 243);

}

.titulo-registro{
  
  color:rgb(2, 129, 146);;
}

.checkbox-confirmar{
  font-size: small;
  margin-left: 68px;
}
.imput{
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  width: 340px;
  /*border-radius: 5px;
  border: black;*/
}

.radio{
  margin-left: 1px;
}

.navbar-light{
  background-color:rgb(2, 129, 146);
  text-decoration-color: aliceblue;
}
.btn-aceptar{

  background-color:rgb(245, 244, 243);
  margin-left: 75px;
  border-color: rgba(2, 2, 2, 0.623);
  width: 200px;
}
.btn-cancelar{
  background-color:rgb(2, 129, 146);
  border-color: rgba(124, 210, 250, 0.623);
  width: 200px;
  margin-left: 75px;
  color: white;
}
.btn-cancelar:hover {
  background: rgb(0, 174, 255);
  border-color: rgba(124, 210, 250, 0.623);
  color:white
}
.btn-cancelar:active {
  background: rgb(2, 173, 185);
  border-color: rgba(124, 210, 250, 0.623);
  color:white
}
#avisoValido{
  display: none;
}
#avisoVacio{
  display: none;  
}
#avisoNo{
  display: none;
}
#avisoPendiente{
  display: none;
}
#avisoReachazado{
  display: none;
}
#avisoDeshabilitado{
  display: none;
}
#avisoCorrecto{
  display: none;
  margin-left: 95px;
  position: absolute;
}
#avisoNuevo{
  display: none;
  margin-left: 75px;
  position: absolute;
}
#avisoPass{
  display: none;
  margin-left: 62px;
  position: absolute;
}
@media(max-width:360px){
  .contenedor {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(124, 210, 250, 0.623);
    padding:  20px;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(245, 244, 243);

    
  }
  
  
  .logo{
    padding: 50px 50px;
  }


  .solicitud-label {
      left: 30%;
      position: absolute;
      font-size: 1.2 rem;
      font-weight: 400;
      top: 40px;
    }

  .selector{
      width: 22%;
      position: absolute;
      left: 45%;
      top: 43px;
    }
    
    
  }

